body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  box-sizing: border-box;
  z-index: 1000;          
}

/* nav-button(left aligned) */
.nav-left a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

/* hover effect */
.nav-left a:hover {
  text-decoration: underline;
}



/* offset for navbar when logged in*/
main {
  margin-top: 60px; /* navbar height */
}

/* =================================== LOGIN / SIGNUP =================================== */

main.authentication {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.authentication form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 320px;
}

main.authentication input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 16px;
}

main.authentication button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

main.authentication a {
  margin-top: 8px;
  text-decoration: none;
}